$blue1: #35495e;
$blue2: #347474;
$blue3: #63b7af;
$blue4: #dff6f0;

$white: white;

.svg-width {
  width: 2em !important;
}

.titles {
  color: #ff8a6f !important;
}

.white-text {
  color: white;
}

.card-box {
  width: 40%;
  height: 300px;
  background-color: white;
}

.landing-image {
  width: 100%;
}

@include media-breakpoint-up(md) {
  .content-wrapper {
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .landing-image {
    min-width: 50vw;
    max-width: 58.75rem;
    width: auto;
  }
}
