$orange: #fe6845;

.register-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include media-breakpoint-up(md) {
  .btn-register {
    width: 41% !important;
  }
}

.register-button-container {
  display: flex;
  justify-content: center;
}

.border-none {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: unset;
}

.main-card {
  width: 70%;
}

@include media-breakpoint-up(md) {
  .register-container {
    min-height: 90vh;
  }
}

.label-padding {
  padding-top: 2%;
}

.select-size {
  width: 100%;
}

.required {
  color: $orange;
}
