.password-container {
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.pass-label-padding {
  padding-top: 10%;
}

@include media-breakpoint-up(md) {
  .pass-label-padding {
    padding-top: 2%;
  }
}
