.dashboard-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-transactions {
  padding: 49px;
}

.red {
  border: 1px solid;
  width: 100%;
}

.other {
  border: 1px solid;
}

.th-border {
  border: none !important;
  font-weight: unset;
}

.td-padding {
  padding: 20px;
}

.border-shadow-none {
  border: none !important;
  box-shadow: inherit !important;
}

.row-container {
  border: 1px solid #efe9e9;
}
