@import "bootstrap/scss/bootstrap";
@import "./components/landing-page/landing-page.scss";
@import "./components/navbar/navbar.scss";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import "./components/login/login.scss";
@import "./components/loader/loader.scss";
@import "./components/input/input.scss";
@import "./components/user/register-user.scss";
@import "./components/input-select/input-select.component.scss";
@import "./components/transactions/transactions.scss";
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "./components/user-dashboard/user.dashboard.scss";
@import "./components/change-password/change-password.scss";

body {
  min-height: 100vh;
}

.sidenav---sidenav---_2tBP {
  background: #347474 !important;
}

a {
  color: black;
}

.btn {
  width: 90%;
  background: none;
  border: none;
  background-color: #f6f6f6;
  border-radius: 10px;
  font-family: sans-serif;
  padding: 7px;
}

.btn:hover {
  background-color: $orange;
  color: white;
  transition: 1s;
}

*:focus {
  outline: none;
}

.title-font {
  font-family: "Lato";
}

.text-font {
  font-family: "Average";
}

.default-button {
  border: none;
  background-color: inherit;
}

a:hover {
  color: #fe6845;
  text-decoration: underline;
}
